<!-- 
BODY {
	background: #FFF;
	margin-left: 50px;
       
	
}

A:link{ text-decoration: none;}
A:visited { text-decoration: none; }
A:hover { text-decoration: underline; } 
input{
	font : 14px Helvetica, Arial,Geneva, Swiss, SunSans-Regular;
	text-align:left;
	border: #AE009D 1px solid;
	height : 23px;
	size : 11px;
	vertical-align : text-bottom;
}

select{ 
    font : 12px Helvetica, Arial,Geneva, Swiss, SunSans-Regular;
	border : 1px  ridge #7F7D02;
	padding:0;
	margin:0;
}	

td{
   padding-left:20;
   font: 14px Helvetica;
   color:black;
   
}

A:link{text-decoration: none;font: 14px Helvetica, Arial,Geneva, Swiss, SunSans-Regular;	color:#F40F04;}
A:visited { text-decoration: none; font: 14px Helvetica, Arial,Geneva, Swiss, SunSans-Regular;color:#F40F04;}
A:hover { text-decoration: underline; } 

--!>
